<div id="container" class="container-fluid my-4">

    <h1 class="text-center">Reset Password</h1> <br>
    <h5 class="text-center">Enter your email for a password reset link.</h5> <br>
    <hr class="separator">
    <div class="form">

        <div class="row">
            <input #email type="email" name="email" class="form-control my-4 mail"
                placeholder="Email, phone or username" ngModel required>
            @if ( !validMail ) {
            <div class="alert alert-danger">
                Please enter a valid email address.
            </div>

            }
        </div>

        <button class="btn btn-primary mail" (click)="validateMail()">Send Reset Link</button> <br> <br>
    </div>
</div>