<div class="row">

    <div class="col-lg-2">
        <p class="text-center"></p>
    </div>
    <div class="col-lg-2">
        <p class="text-center">Examenes</p>
    </div>
    <div class="col-lg-2">
        <p class="text-center">Valor</p>
    </div>
    <div class="col-lg-2">
        <p class="text-center">Preguntas</p>
    </div>
    <div class="col-lg-2">
        <p class="text-center">Limite de tiempo</p>
    </div>
    <div class="col-lg-2">
        <p>Actions</p>
    </div>

</div>
<div class="items">
    @for(item of items; track item){
        <app-item-docente-exam [item]="item"/>
    }
</div>

<div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-primary" id="add-exam" (click)="crearExamen()"> + Añadir Examén</button>
</div>