p{
    font-size: 20px;
    font-weight: 100;
    
}

.row{
    border-bottom: 1px solid #838383;
}

button{
    background-color: white;
    color: rgb(67, 13, 102 );
}

.items{
    max-height: 400px;
    overflow-y: auto;
}

#add-exam{
    margin-top: 80px;
}