#container{

    height: 700px;
    justify-content: center;
    align-items: center;
    width: 600px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.form div {
    margin-bottom: 20px;
}

.form div input{
    border: solid 1px rgb(115, 115, 115);
    border-radius: 5px;
    font-size: 15px;
}

button{
    width: 100%;
    background-color: rgb(74, 58, 255);
}

.icons{
    margin-top: 20px;
}

.right-padding {
    padding-right: 35px;
}

.clickable{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.centered-to-right {
    transform: translateX(31.5em) translateY(2em);
}

.register span{
    font-family: 'Ubuntu-Bold';
    text-decoration: underline;
    cursor: pointer;
}

.register{
    margin-top: 20px;
    font-weight: 700;
}

h1{
    font-family: 'Ubuntu-Bold';
    font-weight: 800;

}

h2{
    font-family: 'Ubuntu-Medium';
    font-weight: 800;
}

h5, h6{
    font-family: 'Ubuntu-Light';
    font-weight: 300;
}

p{
    font-family: 'Ubuntu-Light';
    font-weight: 300;
    color: brown;
}

#email, #password{
    font-family: 'Ubuntu-Bold';
}

@media screen and (max-width: 873px){
    #container{
        width: 400px;
        height: 700px;
    }
    
}
