<div class="div-login">

    <div class="container-fluid">


        <div class="row">

            

            <div class="col-12 col-sm-12">

                <div id="container" class="container-fluid my-4">

                    <h1 class="text-center my-4">You've Got Email</h1>
                    <h5 class="text-center my-4">We have sent the OTP verification code to your email address check your email and enter the code below. </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
