.bg {
  background-color: #4a3aff;
  z-index: -10;
}

.timer-border {
  width: 120px;
  height: 120px;
  border-width: 1px;
  border-radius: 50%;
  background-color: #28a745;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  position: relative;
  z-index: -10;
}

.timer-center {
  width: 110px;
  height: 110px;
  border-width: 1px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  position: absolute;
  margin: 5px;
}
