<div>
    <div id="container">
        <h4>A</h4>
        <input placeholder='Ingrese la respuesta'>
        <div class="row">
            <div class="col-2">
                <input type="radio"  name="grupoDeRespuestas" value="A" (change)="seleccionar('A')">
            </div>
            <div class="col-10">
                <label>Correcta</label>
            </div>
            
        </div> 
    </div>

    <div id="container">
        <h4>B</h4>
        <input placeholder='Ingrese la respuesta'>
        <div class="row">
            <div class="col-2">
                <input type="radio"  name="grupoDeRespuestas" value="B" (change)="seleccionar('B')">
            </div>
            <div class="col-10">
                <label>Correcta</label>
            </div>
            
        </div> 
    </div>

    <div id="container">
        <h4>C</h4>
        <input placeholder='Ingrese la respuesta'>
        <div class="row">
            <div class="col-2" >
                <input type="radio"  name="grupoDeRespuestas" value="C" (change)="seleccionar('C')">
            </div>
            <div class="col-10">
                <label>Correcta</label>
            </div>
            
        </div> 
    </div>


    <div id="container">
        <h4>D</h4>
        <input placeholder='Ingrese la respuesta'>
        <div class="row">
            <div class="col-2">
                <input type="radio"  name="grupoDeRespuestas" value="D" (change)="seleccionar('D')">
            </div>
            <div class="col-10">
                <label>Correcta</label>
            </div>
            
        </div> 
    </div>
</div>