<div id="container" style="z-index: 40;" >
    <h2 class="text-center text-light"> <img [ngSrc]="'/../../assets/leftBar/balls.png'" alt="logo" class="img-fluid " width="20" height="20"> Uniquindio</h2>

    <div class="elements">
        <h4 class="text-center text-light"> <i class="bi bi-book"></i> Courses</h4>
        <h4 class="text-center text-light"> <i class="bi bi-people"></i> Exams</h4>
    </div>
    <h4 class="text-center text-light" id="logout"> <i class="bi bi-box-arrow-right"></i> Log out</h4>
</div>
