<div class="row" id="container">
    <div class="col-lg-2">
        <p class="text-center">{{item.id}}</p>
    </div> 
    <div class="col-lg-2">
        <p class="text-center">{{item.name}}</p>
    </div>
    <div class="col-lg-2">
        <p class="text-center">{{item.value}}</p>
    </div>
    <div class="col-lg-2">
        <p class="text-center">{{item.question}}</p>
    </div>
    <div class="col-lg-2">
        <p class="text-center">{{item.limit_time}}</p>
    </div>
    <div class="col-lg-2">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary"> Edit</button>
            </div>
            <div class="col-6">
                <button class="btn btn-danger"> Delete</button>
            </div>
        </div>
</div>
